<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>[ -f "$TM_NEW_FILE" ] ||  perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt;style.css &gt;"$TM_NEW_FILE"</string>
	<key>extension</key>
	<string>css</string>
	<key>name</key>
	<string>CSS Template</string>
	<key>scope</key>
	<string>source.css</string>
	<key>uuid</key>
	<string>D14D0684-20C1-46B1-A957-FC8C80599349</string>
</dict>
</plist>
